<p id="notice"><%= notice %></p>

<div class="container">


  <h1 class="page-header">Danai's House of Waffles Foodtruck!</h1>

  <% @courses.each do |course| %>
      <h3><%=course.name %></h3>
      <p class="btn btn-info danai"><%= link_to 'New Dish', new_dish_path(:course_id => course.id) %></p>
      <% course.dishes.each do |dish| %>
        <h4><%= link_to dish.name, edit_dish_path(dish) %></h4>
        <p><%= dish.description %>
        <%= dish.price %></p>


      <% end %>
  <% end %>
    </div>
  </div>
</div>
